@import url(./styles/reset.css);


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    font-family: Deadhand;
    
  }

  h1 {
    font-size: 72px;
  }
  #map-canvas {
    z-index: 0;
    position: absolute;
  }

  #game-canvas {
    z-index: 0;
    background: transparent;
    position: absolute;
  }

  #instruction-canvas {
    width: 1920px;
    height: 1000px;
    z-index: 100;
    background: #B0E9FC;
    position: absolute;
    font-size: 48px;
    text-align: center;
    color: black;
    font-family: Deadhand;
    div {
      z-index: 100;
    }
    // background-image: url(../src/assets/scroll.png);
  }

  #game-over-canvas {
    z-index: 101;
    background: black;
    position: absolute;
  }

  .ui {
    font-size: 32px;
    border: 0;
    
  }

  .background {
    height: 100vh;
    width: 100vw;
    background-color: #FAE8C2;
    z-index: -100;

  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #scroll {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }



  @font-face { font-family: 'Deadhand'; src: url('../src/assets/fonts/TreasureMapDeadhand-yLA3.ttf') format("truetype"); } 