@import url(./styles/reset.css);


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    
  }

  #map-canvas {
    z-index: 0;
    position: absolute;
  }

  #game-canvas {
    z-index: 0;
    background: transparent;
    position: absolute;
  }

  #instruction-canvas {
    width: 1920px;
    height: 1088px;
    z-index: 100;
    background: white;
    position: absolute;
    font-size: 24px;
    text-align: center;
    color: black;
    font-family: 'Deadhand';
  }

  #game-over-canvas {
    z-index: 101;
    background: black;
    position: absolute;
  }

  .ui {
    font-size: 32px;
    border: 0;
    
  }

  .background {
    height: 100vh;
    width: 100vw;
    background-color: #FAE8C2;
    z-index: -100;

  }



  @font-face { font-family: 'Deadhand'; src: url('./assets/TreasureMapDeadhand-yLA3.ttf') format("truetype"); } 